<div class="container">
    
    <!--List-->
    <div class="row" id="List" *ngIf="isModeList">
      <div class="col-sm">                   
          <app-tasknewlist (eventToEmit)="getEvent($event)"></app-tasknewlist>
      </div>
      <div class="col-sm">
        <app-taskprogresslist (eventToEmit)="getEvent($event)"></app-taskprogresslist>
      </div>
      <div class="col-sm">
        <app-taskdonelist></app-taskdonelist>
      </div>
    </div>

    <!--Add-->
    <div class="row" id="Add" *ngIf="isModeAdd"> 
      <app-taskcreate (eventToEmit)="getEvent($event)"></app-taskcreate>
    </div>

    <!--Edit-->
    <div class="row" id="Edit" *ngIf="isModeEdit">
      <app-taskedit [taskId]="taskId" (eventToEmit)="getEvent($event)"></app-taskedit>
    </div>
</div>