<div class="user-card">
    <div class="card-header top-userinfo">
        <ng-content select="card-header"></ng-content>
    </div>
    <div class="card-block">
        <div class="user-image">
            <ng-content select="card-image"></ng-content>
        </div>
        <div class="role-userinfo">
            <ng-content select="card-role"></ng-content>
        </div>
        <button type="button" class="btn btn-primary button-userinfo" (click)="schedule()">Schedule</button>
    </div>
    <div class="bottom-userinfo">
        <ng-content select="bottom-userinfo"></ng-content>                     
    </div>
</div>