a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;    
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }  


  .nav-link:hover {
    background-color: #843304;
    color: white !important;
  }

  .link-active {
    background-color: #843304;    
  }

  .link-active a {    
    color: white !important;
  }

  .userInfo {
    font-size:large !important;
    color: #0366d6;
  }