<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Description</th>
        <th>Location</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of schedules">
        <td>{{item.title}}</td>
        <td>{{item.creator}}</td>
        <td>{{item.description}}</td>
        <td>{{item.location}}</td>
        <td>{{item.timeStart}}</td>
        <td>{{item.timeEnd}}</td>
        <td>
            <button type="button" class="btn btn-primary button-userinfo">Details</button>&nbsp;
            <button type="button" class="btn btn-primary button-userinfo">Edit</button>&nbsp;
            <button type="submit" class="btn btn-danger button-userinfo">Delete</button>&nbsp;
        </td>
      </tr>           
    </tbody>
  </table>