<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark" [routerLink]="['/']">Dashboard</a>
            </li>            
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/user']">User</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/schedule']">Schedule</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
            </li>
          </ul>                 
        </div>    
        <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
          <h1>Angular Sprint</h1>
        </div>    
      </div>
    </nav>
  </header>
  