@import "~ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    text-decoration: none;
  }
  
  code {
    color: #e01a76;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  
  /*Zoom default*/
  .zoomDefault {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 80px;
    margin: 0 auto;
  }
  
    .zoomDefault:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(5);
    }
  
  
  /*Zoom max*/
  .zoomMax {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 80px;
    margin: 0 auto;
  }
  
    .zoomMax:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(5);
    }
  
  @media screen and (min-width: 700px) {
    .modal-dialog {
      max-width: 800px !important; /* New width for default modal */
    }
  }
  
  /* Style the footer */
footer {
  background-color: rgb(214, 193, 193);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #212529;
  margin-top: 30px;
}

.button-userinfo {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

.date-container{
  position: relative;
}
.shadow-input {
  position: absolute;
  top: 22px;
  width: 0px;
  height: 0px;
  border: none;
}
span.remove-date{
  position: absolute;
  right: 16px;
  top: 0px;
  font-size: 24px;
  cursor: pointer;
}

.add-button {
  margin-bottom: 10px;
}