<div class="row">
    <div class="btn-back">
        <button type="button" class="btn btn-danger" (click) = "back('mode_list')">Back</button>        
    </div>
    
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="enableErrorNotification">
        <ul>
            <li *ngFor="let err of errors">
              {{err}}
            </li>
        </ul>
        <button type="button" class="close" aria-label="Close" (click)="closeNotify(true)">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="infoMessage">
        {{infoMessage}}
        <button type="button" class="close" aria-label="Close" (click)="closeNotify(false)">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="border">
        <div class="topnav-right">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link active" data-toggle="tab" href="#view">View</a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#edit">Edit</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- View -->
            <div id="view" class="tab-pane container active">
                <div *ngIf="taskDto">                    
                    <h4>{{taskDto.title}}</h4>
                    <p>{{taskDto.description}}</p>
                </div>
            </div>

            <!-- Edit -->
            <div id="edit" class="tab-pane container fade">
                <form *ngIf="taskDto">
                    <div class="form-group">
                        <label for="title"><strong>Title</strong></label>
                        <input type="text" [(ngModel)]="taskDto.title" class="form-control" name="title" id="title" placeholder="Insert the title..." />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="taskDto.description" name="description" id="description" rows="3" placeholder="Insert a suitable description..."></textarea>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" #radioNew name="radiostatus" id="radioNew" value="New" (change)="statusChanged(radioNew.value)" [checked]="taskDto.status == 'New' ? true : false">&nbsp;New</label>&nbsp;
                            <label><input type="radio" #radioProgress name="radiostatus" id="radioProgress" value="Progress" (change)="statusChanged(radioProgress.value)" [checked]="taskDto.status == 'Progress' ? true : false">&nbsp;In progress</label>&nbsp;
                            <label><input type="radio" #radioDone name="radiostatus" id="radioDone" value="Done" (change)="statusChanged(radioDone.value)" [checked]="taskDto.status == 'Done' ? true : false">&nbsp;Done</label>      
                        </div>                         
                    </div>            
                    <button type="submit" class="btn btn-primary" (click)="save(taskDto)">Update</button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)="delete(taskDto)">Delete</button> &nbsp;
                    <button type="button" class="btn btn-default btn_default_color" (click) = "back('mode_list')">Cancel</button>
                </form>
            </div>
        </div>
        
    </div>
</div>