.topnav-right {    
    padding-bottom: 20px;
  }

  .border {
      background-color: #f9f9f9;
      padding-bottom: 20px;
  }

  .btn_default_color {
    background-color: lightgray;
  }

  .btn-back {
      margin-bottom: 20px;
  }